<!DOCTYPE html>
<html>
<head>
    <title>Light Blue - Admin Template</title>
    <link href="/Theme/css/application.min.css" rel="stylesheet">
    <link href="~/Content/fineuploader-4.1.0-13.min.css" rel="stylesheet" />
    <link rel="shortcut icon" href="img/favicon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta charset="utf-8">
</head>
<body class="background-dark">
<div class="logo">
    <h4><a href="index.html">Aperture <strong>CMS</strong></a></h4>
</div>
<nav id="sidebar" class="sidebar nav-collapse collapse">
    <ul id="side-nav" class="side-nav">
        <li class="active">
            <a href="index.html"><i class="icon-home"></i> <span class="name">Dashboard</span></a>
        </li>
        <li class="accordion-group">
            <a class="accordion-toggle collapsed" data-toggle="collapse"
               data-parent="#side-nav" href="#page-collapse"><i class="icon-edit"></i><span class="name">Page</span></a>
            <ul id="page-collapse" class="accordion-body collapse">
                <li><a href="/Page">Manage</a></li>
                <li><a href="/Page/Create">New Page</a></li>
            </ul>
        </li>
        <li class="accordion-group">
            <a class="accordion-toggle collapsed" data-toggle="collapse"
               data-parent="#side-nav" href="#forms-collapse"><i class="icon-picture"></i> <span class="name">Gallery</span></a>
            <ul id="forms-collapse" class="accordion-body collapse">
                <li><a href="/Gallery">Manage</a></li>
                <li><a href="/Gallery/Create">New Gallery</a></li>      
                <li><a href="/Upload/">Upload</a></li>                        
            </ul>
        </li>
        <li class="accordion-group">
            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#side-nav" href="#stats-collapse"><i class="icon-pencil"></i> <span class="name">Blog</span></a>
            <ul id="stats-collapse" class="accordion-body collapse">
                <li><a href="/Blog">Manage</a></li>
                <li><a href="/Blog/Create">New</a></li>                
            </ul>
        </li>
        <li class="accordion-group">
            <a class="accordion-toggle collapsed" data-toggle="collapse"
               data-parent="#side-nav" href="#ui-collapse"><i class="icon-user"></i> <span class="name">Account</span></a>
            <ul id="ui-collapse" class="accordion-body collapse">
                <li><a href="/Account/Manage">Manage</a></li>                
            </ul>
        </li>
        <li>
            <a href="/Gallery/Photos"><i class="icon-picture"></i> <span class="name">Manage Photos</span></a>
        </li>
        <li>
            <a href="/Settings"><i class="icon-asterisk"></i> <span class="name">Settings</span></a>
        </li>       
        <li class="visible-phone">
            <a href="login.html"><i class="icon-signout"></i> <span class="name">Sign Out</span></a>
        </li>
    </ul> 
</nav>
<div class="wrap">
   
    <div class="content container-fluid">
        @RenderBody()
    
    </div>
</div>

<!-- jquery and friends -->
<script src="/Theme/lib/jquery/jquery.1.9.0.min.js"> </script>
<script src="/Theme/lib/jquery/jquery-migrate-1.1.0.min.js"> </script>

<!-- jquery plugins -->
<script src="/Theme/lib/icheck.js/jquery.icheck.js"></script>
<script src="/Theme/lib/sparkline/jquery.sparkline.js"></script>
<script src="/Theme/lib/jquery-ui-1.10.1.custom.js"></script>
<script src="/Theme/lib/jquery.slimscroll.js"></script>

<!-- d3, nvd3-->
<script src="/Theme/lib/nvd3/lib/d3.v2.js"></script>
<script src="/Theme/lib/nvd3/nv.d3.custom.js"></script>

<!-- nvd3 models -->
<script src="/Theme/lib/nvd3/src/models/scatter.js"></script>
<script src="/Theme/lib/nvd3/src/models/axis.js"></script>
<script src="/Theme/lib/nvd3/src/models/legend.js"></script>
<script src="/Theme/lib/nvd3/src/models/multiBar.js"></script>
<script src="/Theme/lib/nvd3/src/models/multiBarChart.js"></script>
<script src="/Theme/lib/nvd3/src/models/line.js"></script>
<script src="/Theme/lib/nvd3/src/models/lineChart.js"></script>
<script src="/Theme/lib/nvd3/stream_layers.js"></script>

<!--backbone and friends -->
<script src="/Theme/lib/backbone/underscore-min.js"></script>
<script src="/Theme/lib/backbone/backbone-min.js"></script>
<script src="/Theme/lib/backbone/backbone.localStorage-min.js"></script>

<!-- bootstrap default plugins -->
<script src="/Theme/js/bootstrap/bootstrap-transition.js"></script>
<script src="/Theme/js/bootstrap/bootstrap-collapse.js"></script>
<script src="/Theme/js/bootstrap/bootstrap-alert.js"></script>
<script src="/Theme/js/bootstrap/bootstrap-tooltip.js"></script>
<script src="/Theme/js/bootstrap/bootstrap-popover.js"></script>
<script src="/Theme/js/bootstrap/bootstrap-button.js"></script>
<script src="/Theme/js/bootstrap/bootstrap-tab.js"> </script>
<script src="/Theme/js/bootstrap/bootstrap-dropdown.js"></script>

<!-- basic application js-->
<script src="/Theme/js/app.js"></script>
<script src="/Theme/js/settings.js"></script>

<!-- page specific -->
<script src="/Theme/js/index.js"></script>
<script src="/Theme/js/chat.js"></script>

  @RenderSection("scripts", required: false)
<script type="text/template" id="message-template">
        <div class="sender pull-left">
            <div class="icon">
                <img src="/Theme/img/2.jpg" class="img-circle" alt="">
            </div>
            <div class="time">
                just now
            </div>
        </div>
        <div class="chat-message-body">
            <span class="arrow"></span>
            <div class="sender">Tikhon Laninga</div>
            <div class="text">
                <%- text %>
            </div>
        </div>
</script>

<script type="text/template" id="settings-template">
    <div class="setting clearfix">
        <div>Background</div>
        <div id="background-toggle" class="pull-left btn-group" data-toggle="buttons-radio">
            <% dark = background == 'dark'; light = background == 'light';%>
            <button type="button" data-value="dark" class="btn btn-small btn-transparent <%= dark? 'active' : '' %>">Dark</button>
            <button type="button" data-value="light" class="btn btn-small btn-transparent <%= light? 'active' : '' %>">Light</button>
        </div>
    </div>
    <div class="setting clearfix">
        <div>Sidebar on the</div>
        <div id="sidebar-toggle" class="pull-left btn-group" data-toggle="buttons-radio">
            <% onRight = sidebar == 'right'%>
            <button type="button" data-value="left" class="btn btn-small btn-transparent <%= onRight? '' : 'active' %>">Left</button>
            <button type="button" data-value="right" class="btn btn-small btn-transparent <%= onRight? 'active' : '' %>">Right</button>
        </div>
    </div>
    <div class="setting clearfix">
        <div>Sidebar</div>
        <div id="display-sidebar-toggle" class="pull-left btn-group" data-toggle="buttons-radio">
            <% display = displaySidebar%>
            <button type="button" data-value="true" class="btn btn-small btn-transparent <%= display? 'active' : '' %>">Show</button>
            <button type="button" data-value="false" class="btn btn-small btn-transparent <%= display? '' : 'active' %>">Hide</button>
        </div>
    </div>
</script>

<script type="text/template" id="sidebar-settings-template">
    <% auto = sidebarState == 'auto'%>
    <% if (auto) {%>
    <button type="button"
            data-value="icons"
            class="btn-icons btn btn-transparent btn-small">Icons</button>
    <button type="button"
            data-value="auto"
            class="btn-auto btn btn-transparent btn-small">Auto</button>
    <%} else {%>
    <button type="button"
            data-value="auto"
            class="btn btn-transparent btn-small">Auto</button>
    <% } %>
</script>

</body>
</html>