@model IEnumerable<ApertureCMS.Models.BlogEntry>

@{
    ViewBag.Title = "Index";
}
 <div class="row">
    <div class="span12">
        <h2 class="page-title">Article <small>All Blog Entries</small></h2>
    </div>
</div>
@foreach (var item in Model)
{
    <div class="row">
        <div class="span12">
            <section class="widget">
                <header>
                    <h4>
                        <i class="fa fa-align-left"></i>
                        @item.Title @Html.ActionLink("Edit", "Edit", new { id = item.EntryId })
                    </h4>

                </header>
                <div class="body">
                    @Html.Raw(item.Content.Take(100));
                </div>
            </section>
        </div>
    </div>
}
<div class="row">
    <div class="span12">
        <section class="widget">
            <header>
                <h4>
                    <i class="fa fa-plus-sign"></i>
                    @Html.ActionLink("New Article", "Create")
                </h4>

            </header>
            <div class="body">
                Create a new Blog Entry
            </div>
        </section>
    </div>
</div>