@model IEnumerable<ApertureCMS.Models.Gallery>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div class="row">
    @foreach (var item in Model)
    {
        if (item.Photos.Count > 0)
        {
        <div class="col-sm-6 col-md-3">
            <a href="#" class="thumbnail">
                <img data-src="@item.Photos.ToList()[0].ThumbnailUrl" alt="...">
            </a>
        </div>
        }else
        {
            <div class="col-sm-6 col-md-3">
             @Html.ActionLink("Add Photos", "Edit", new { id = item.GalleryId})
                </div>
        }
    }
</div>
