@model List<ApertureCMS.Models.Settings>
@{
    ViewBag.Title = "Index";
}
<div class="content container-fluid">
    <div class="row">
        <div class="span12">
            <h2 class="page-title">Settings<small>Gallery, Site and more</small></h2>
        </div>
    </div>
    <div class="row">
        <div class="span6">
            <section class="widget">
                <header>
                    <h4>
                        <i class="fa fa-align-left"></i>
                        Inputs
                    </h4>
                </header>
                <div class="body">
                    @using (Html.BeginForm())
                    {
                       @Html.EditorFor(model => model)
                        <button type="submit" class="btn btn-default">Submit</button>
                    }

                </div>
            </section>
        </div>
    </div>
</div>

